/* vote.css */
.candidate-description {
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.avatar-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  background-color: grey;
  overflow: hidden;
}
.avatar-container > .fa-check {
  position: absolute;
  font-size: 5em;
  bottom: 5px;
  right: 5px;

}
.avatar-img {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  margin: auto;
}
.position-invalid {
  background-color: red;
}
.candidate-card-selected {
  background-color: #ffff99;
}
.position-title{
  margin-top: 10px;
}
.card-submit {
  margin-top: 50px;
  margin-bottom: 100px;
}
.card-block button {
  margin-top: 10px;
}
