/* vote.css */
.candidate-description {
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.avatar-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.avatar-container > .fa-check {
  position: absolute;
  font-size: 5em;
  bottom: 5px;
  right: 5px;

}
.avatar-img {
  display: block;
  margin: auto;
}
.position-invalid {
  background-color: red;
}
.candidate-card-selected {
  background-color: #ffff99;
}
.position-title{
  margin-top: 10px;
}
