{% extends "base.html" %}
{% block head %}
  <title>
    台大排球明星賽
  </title>

  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/allstar.css">

  {% block morehead %}{% endblock %}
{% endblock %}

{% block body %}
<!-- nav bar -->
<nav class="navbar navbar-dark navbar-full bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/"> 台大排球明星賽 </a>
  </div>
</nav>

{% block content %} {% endblock %}

<!-- footer -->
<footer class="footer">
  <div class="container">
    <span>Place sticky footer content here.</span>
  </div>
</footer>

{% endblock %}
