{% extends "base.html" %}
{% block head %}
  <meta property="og:image" content="http://ntuvb-allstar.appspot.com/img/allstar2016.jpg"/>
  <meta property="og:url" content="http://ntuvb-allstar.appspot.com/"/>
  <meta property="og:title" content="2016台大排球明星賽"/>
  <meta property="og:image:type" content="image/jpg">
  <title>
    台大排球明星賽
  </title>

  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/allstar.css">

  {% block morehead %}{% endblock %}
{% endblock %}

{% block body %}
<!-- nav bar -->
<nav class="navbar navbar-dark navbar-full bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/"> 台大排球明星賽 </a>
  </div>
</nav>

{% block content %} {% endblock %}

<!-- footer -->
<footer class="footer bg-primary">
  <div class="container">
    <p style="color: white; max-width: 100%; margin-bottom: 0px;">
      <i class="fa fa-copyright"></i>
      <a href="https://tw.linkedin.com/in/hsincheng">Olala</a>,
      <a href="https://www.linkedin.com/in/inshuang">Ins</a>
      <span style="font-size: 0.8em;">
        &nbsp; and many thanks to
      </span>
      <a href="https://about.me/littleq">LittleQ</a>
    </p>
  </div>
</footer>

{% endblock %}
