{% extends "allstar.html" %}
{% block morehead %}
  <link rel="stylesheet" href="/css/welcome.css">
{% endblock %}

{% block content %}
  <div class="container">

    <!-- votes -->
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron card-transparent">
          <h1> {{message|safe}} </h1>
          {% if url %}
          <a href="{{url.href}}"><h4>{{url.title}}</h4></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
<!-- script here -->
{% endblock %}
