{% extends "allstar.html" %}
{% block morehead %}
  <link rel="stylesheet" href="/css/register.css">
  <script type="text/javascript">
    var election_key = '{{election.websafe_key}}';
  </script>
{% endblock %}

{% block content %}
<div class="container" ng-app="registerApp">
  <div class="row">
    <div class="card card-shadow register-panel" ng-controller="RegisterFormController">

      <div class="card-block">
        <h3>{{election.title}}</h3>
        <h5 class="card-text"> 請依以下列步驟進行投票: </h5>
      </div>

      <div class="card-block">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1. 於下方輸入您的台大電子郵件信箱</li>
          <li class="list-group-item">2. 至台大信箱收信 (約十分鐘內寄達)</li>
          <li class="list-group-item">3. 點選信中連結開始投票</li>

        </ul>
      </div>

      <form action="" method="post">
        <div class="card-block">
          <div class="input-group" ng-class="inputGroupClass">
            <input type="text" name="student_id" class="form-control" ng-model="studentId"
                   ng-change="validate()" placeholder="例: B01234567"
                   aria-describedby="basic-addon2">
            <span class="input-group-addon">@ntu.edu.tw</span>
          </div>
          <p class="text-muted pull-right">
            投票時間: {{election.start_date|datetime}} ~ {{election.end_date|datetime}}
          </p>
        </div>

        <div class="card-block">
          <button type="submit" class="btn btn-primary" ng-disabled="!valid">
            開始投票!
          </button>
        </div>
      </form>

    </div>

  </div>
</div>

{% endblock %}
{% block extra_script %}
  <script src="/js/register.js"></script>
{% endblock %}
