{% extends "allstar.html" %}
{% block morehead %}
  <link rel="stylesheet" href="/css/vote.css">
  <script type="text/javascript">
    var data = {{election|tojson|safe}}
  </script>
{% endblock %}
{% block content %}
 <div class="container" ng-app="voteApp">
  <div ng-controller="VoteController" ng-init="init(data)">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3 class="display-4">開始投票</h3>
        <div class="row" ng-cloak>
          <div class="col-sm-6 col-md-4" ng-repeat="position in election.positions">
              <h5> - {{"position.title"|aj}} {{"position.votes_per_person"|aj}} 票</h5>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="position in election.positions" ng-cloak>

      <div class="row">
        <div class="col-xs-12">
          <h3>{{"position.title"|aj}}</h3>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-4" ng-repeat="candidate in position.candidates">
          <!-- card -->
          <div class="card" ng-class="candidateClass(candidate)">
            <div class="card-img-top avatar-container">
              <img class="avatar-img" src="http://placehold.it/350x250">
            </div>
            <div class="card-block">
              <h4 class="card-title">
                {{"candidate.name"|aj}}
                <span class="text-muted small">{{"candidate.department"|aj}}</span>
              </h4>
              <div class="card-text candidate-description">
                {{"candidate.description"|aj}}
              </div>
            </div>
            <div class="card-block">
              <button type="button" class="btn btn-primary"
                      ng-click="toggleCandidate(candidate)">
                {{"candidate.btnTitle"|aj}}
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="jumbotron jumbotron-fluid" ng-show="false">
    <div class="container">
      <h1 class="display-3">
        資料處理中... 請稍候
      </h1>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_script %}
  <script src="/js/vote.js"></script>
{% endblock %}
