{% extends "allstar.html" %}
{% block morehead %}
  <link rel="stylesheet" href="/css/vote.css">
  <script type="text/javascript">
    var userdata = {
      token: '{{token|safe}}',
      election: {{election|tojson|safe}}
    };
  </script>
{% endblock %}
{% block content %}
<div class="container" ng-app="voteApp">
  <div ng-controller="VoteController" ng-init="init()">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3 class="display-4">開始投票</h3>
        <div class="row" ng-cloak>
          <div class="col-sm-6 col-md-4" ng-repeat="position in election.positions">
              <h5> - {{"position.title"|aj}} {{"position.votes_per_person"|aj}} 票</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- voting cards -->
    <div ng-repeat="position in election.positions" ng-cloak>
      <position-cards position="position"></position-cards>
    </div>

    <!-- submit button -->
      <div class="row" ng-cloak>
        <div class="col-xs-12">
          <div class="card card-block">
            <p>按下完成投票投票後等同您已經同意以下<a>使用條款</a>,您將無法修改您的選票</p>
            <button type="button" class="btn btn-primary btn-lg btn-block"
                    ng-click="submitVotes()">
              完成投票
            </button>
          </div>
        </div>
      </div>

  </div>
  {% include 'initializing.html' %}
</div>
{% endblock %}
{% block extra_script %}
  <script src="/js/vote.js"></script>
{% endblock %}
