{% extends "allstar.html" %}
{% block morehead %}
  <link rel="stylesheet" href="/css/all_votings.css">
  <link rel="stylesheet" href="/css/welcome.css">
{% endblock %}

{% block content %}
  <div class="container">
    <!-- heading -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">
          第六屆<small>台大排球明星賽</small>
        </h1>
        <p class="lead text-right">SINCE 2011</p>
      </div>
    </div>

    <!-- votes -->
    <div class="row">
      {% for election in elections %}
      <div class="col-xs-12">
        <div class="jumbotron">
          <h1>{{ election.title }}</h1>
          <p>{{ election.description }}</p>
          <p>
            <a class="btn btn-primary btn-lg" href="/register/{{election.websafe_key}}/">
              開始投票
            </a>
          </p>
        </div>
      </div>
      {% endfor %}
      {% if elections.length == 0 %}
        <h2>目前沒有投票進行中...</h2>

      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
<script src="/js/send_email_dialog.js"></script>
<script type="text/javascript">
$(function() {
    sendEmailDialog.init();
});
</script>
{% endblock %}
