{% extends "allstar.html" %}
{% block morehead %}
  <link rel="stylesheet" href="/css/welcome.css">
{% endblock %}

{% block content %}
  <div class="container">

    <!-- votes -->
    <div class="row">
      {% for election in elections %}
      <div class="col-xs-12">
        <div class="jumbotron card-transparent">
          <h1>{{ election.title }}</h1>
          <p>{{ election.description }}</p>
          <p class="text-muted">投票時間: {{election.start_date|datetime}} ~ {{election.end_date|datetime}}</p>
          <p>
            {% if election.running %}
            <a class="btn btn-primary btn-lg" href="/register/{{election.websafe_key}}/">
              開始投票
            </a>
            {% endif %}
            <a class="btn btn-primary btn-lg" href="/results/{{election.websafe_key}}/">
              觀看結果
            </a>
          </p>
        </div>
      </div>
      {% endfor %}
      {% if elections.length == 0 %}
        <h2>目前沒有投票進行中...</h2>

      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
<script src="/js/send_email_dialog.js"></script>
<script type="text/javascript">
$(function() {
    sendEmailDialog.init();
});
</script>
{% endblock %}
